/* Gilroy Font Family */
@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/Gilroy-Thin.woff2') format('woff2'),
       url('/fonts/Gilroy-Thin.woff') format('woff'),
       url('/fonts/Gilroy-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/Gilroy-UltraLight.woff2') format('woff2'),
       url('/fonts/Gilroy-UltraLight.woff') format('woff'),
       url('/fonts/Gilroy-UltraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/Gilroy-Light.woff2') format('woff2'),
       url('/fonts/Gilroy-Light.woff') format('woff'),
       url('/fonts/Gilroy-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/Gilroy-Regular.woff2') format('woff2'),
       url('/fonts/Gilroy-Regular.woff') format('woff'),
       url('/fonts/Gilroy-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/Gilroy-Medium.woff2') format('woff2'),
       url('/fonts/Gilroy-Medium.woff') format('woff'),
       url('/fonts/Gilroy-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/Gilroy-Semibold.woff2') format('woff2'),
       url('/fonts/Gilroy-Semibold.woff') format('woff'),
       url('/fonts/Gilroy-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/Gilroy-Bold.woff2') format('woff2'),
       url('/fonts/Gilroy-Bold.woff') format('woff'),
       url('/fonts/Gilroy-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/Gilroy-Extrabold.woff2') format('woff2'),
       url('/fonts/Gilroy-Extrabold.woff') format('woff'),
       url('/fonts/Gilroy-Extrabold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/Gilroy-Black.woff2') format('woff2'),
       url('/fonts/Gilroy-Black.woff') format('woff'),
       url('/fonts/Gilroy-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* Italic variants */
@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/Gilroy-RegularItalic.woff2') format('woff2'),
       url('/fonts/Gilroy-RegularItalic.woff') format('woff'),
       url('/fonts/Gilroy-RegularItalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/Gilroy-MediumItalic.woff2') format('woff2'),
       url('/fonts/Gilroy-MediumItalic.woff') format('woff'),
       url('/fonts/Gilroy-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/Gilroy-SemiboldItalic.woff2') format('woff2'),
       url('/fonts/Gilroy-SemiboldItalic.woff') format('woff'),
       url('/fonts/Gilroy-SemiboldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/Gilroy-BoldItalic.woff2') format('woff2'),
       url('/fonts/Gilroy-BoldItalic.woff') format('woff'),
       url('/fonts/Gilroy-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
